/*RESET*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	width: 900px;
	height: 500px;

}

.img-slider img {
	padding: 10px;
	object-fit: cover;
}
/*APP*/
.slider-container {
	position: relative;
	max-width: 80%;
	margin: auto;

	}

.slider-carousel {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
}

.slider-carousel .img-slider {
	padding: 0 5px;
	align-items: center;
	justify-content: center;
	/*le immagini non devono sbordare*/
	overflow: hidden;
}
.slider-carousel .arrow {
	font-size: 40px;

}
.circles {
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	background-color: rgba(0,0, 0, 0.6 );
	padding: 5px;
	border-radius: 10px;
}
.circle {
	color: #cccbcb;
	margin: 0 10px;
}
.active {
	color: blue;
}
.arrow{
	cursor: pointer;
}


.button-stop {
	background-color: rgb(68 127 189 / 61%);
	color: white;
	padding: 10px;
	border-radius: 10px;
	cursor: pointer;
	text-transform:  uppercase;
}

